#dashboard {
  display: flex;
  flex-direction: column;
  background: #cfd8dc;
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #3f51b5;
  color: white;
  padding: 0.5rem 2rem;
  min-height: 80px;
}

.dashboard__subheader {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 2rem;
}

.dash__controls {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.dashboard__header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
}
.dash-row {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 1rem;
}
.dash-row + .dash-row {
  margin: 0rem 1rem;
}
.graph-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem;
}

.graph-row .card {
  width: 30.5%;
  padding: 1rem;
}

.grid-row {
  display: flex;
  margin: 1rem;
}

.last-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem;
}

.last-row .card {
  width: 47%;
  padding: 1rem;
  background-color: #fff;
}

.last-row .card .title {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: large;
}

#welcome-message {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: inherit;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}
#welcome-message > div {
  flex: 1;
  min-width: 200px;
  margin: 0 1rem;
}

.welcome__left {
  line-height: 1.4rem;
  h2 {
    margin-top: 0;
    font-weight: 400;
  }
}
.welcome__center {
  h5 {
    margin-top: 0;
  }
  line-height: 1.4rem;
}
.welcome__right {
  display: flex;
  justify-content: center;
}

.spark-container {
  display: flex;
  align-items: center;
}
.spark-stat {
  margin-left: 1rem;
}

#card-0-1 {
  background: #ffc107;
  color: white;
}

#card-0-2 {
  background: #fff;
}

#card-1-1 {
  background: #2196f3;
  color: white;
}
zg-caption{
  background-color: #fff;
  color: black;
  font-weight: 600;
}
